<div class="marketing mx-auto pt-4 bg-light">
    <div class="row container mx-auto">
        <div  class="col-lg-3 cbox ml-5 mb-3" *ngFor="let item of destination; let i = index">
            <img  class ="rounded-circle"  src="/assets/img/{{images[i]}}" 
            width="140" height= "140">
            <h2>Destination: {{destination[i]}}</h2>
            <p>Price: {{price[i]}} Euro</p>
            <p>Number of Nights: {{numOfNights[i]}} nights</p>
            <p>City: {{city[i]}}</p>
        </div>
    </div>
</div>

