<div class="row container-fluid  mx-auto my-3 featurette backg">
	<div  class="col-md-7" >
		<h2 class ="featurette-heading" >And now, something for our <span  class = "text-muted" >Agency.</span></h2>
		<p class="lead" >We are a big agency focusing on tours destinations.</p>
		<br>
		<p class="lead">Learning from our experience for 10 years we try to offer the best destinations for you and explaining everything into details all the journey for our clients.</p>
	</div>
	<div  class="col-md-5" >
		<img class ="featurette-image img-responsive center-block"  src="/assets/img/funny.jpg" 
		alt="Generic placeholder image">
	</div >
</div>

